TelegramBot/bot/bot_token.txt

**/__pycache__
TelegramBot/backend/data_science/recsys/__pycache__/recsys.cpython-311.pyc
TelegramBot/backend/data_science/recsys/__pycache__/user.cpython-311.pyc

**/secrets.py
TelegramBot/bot/media/1224909643.jpg
